@page "/"

<PageTitle>CoreFitness | Gym & Fitness Center</PageTitle>

<SectionContent SectionName="Hero">
    <HeroSection />
</SectionContent>

<div class="page__home">
    <BrandSection />
    <AboutUsSection />
    <OurProgramSection />
    <OurStoreSection />
</div>